<p>Hello, Valaki Szerelő!</p>

<p><%= link_to "Profile", profile_path %></p>
<p><%= link_to "New Repair", new_repairs_path %></p>
<p><%= link_to "Repairs", own_repairs_path %></p>
<p><%= link_to "Logout", 'sessions/destroy' %></p>